{% extends 'layouts/app-container.html' %}

{% block content %}
<div class="container">
  <div class="about">
    <div class="photo">
      <!--<div class="img">-->
        <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 346 400">-->
        <!--</svg>-->
      <!--</div>-->
    </div>
    <section class="intro">
      <span class="greeting">Hello,</span>
      <div class="italic">
        <h2>I'm a Full-Stack Developer with technological and business experience in building startups in a multicultural environment</h2>
      </div>

      <p>
        I build responsive front-end applications from simple websites to more sophisticated web apps that require back-end development.
        <br/>
        <br/>
        I emphasize on rapid development and product iteration, while providing maintainable, modular and tested code.
        <br/>
        <br/>
        Over the couple of years, I've worked with iFlix as a software developer and several other startups as an Entrepreneur in Residence.
        <br/>
        <br/>
        When I'm not coding, you'll find me quietly reading or annoying my neighbours on the drum set.
      </p>
    </section>

    <section class="row">
      <h2>Development Skills, Tools and Techniques</h2>
      <div class="row">
        <div class="skills seven columns">
          <span class="skill-type"><i class="fa fa-code"></i><strong> Skills</strong></span>
          <div class="row">
            <ul class="five columns">
              <li>HTML5</li>
              <li>CSS3/4</li>
              <li>Sass</li>
              <li>Webpack, Gulp, Grunt</li>
              <li>Git</li>
              <li>Mocha, Chai, Sinon</li>
              <li>Javascript, ES6/7</li>
              <li>React</li>
              <li>Jquery</li>
              <li>Meteor</li>
            </ul>
            <ul class="five columns">
              <li>NodeJs</li>
              <li>Python</li>
              <li>CouchBase</li>
              <li>MongoDB</li>
              <li>rethinkDB</li>
              <li>Express</li>
              <li>AWS</li>
            </ul>
          </div>
        </div>
        <div class="techniques five columns">
          <span class="skill-type"><i class="fa fa-wrench"></i><strong> Techniques</strong></span>
          <div class="row">
            <ul>
              <li>Object Oriented Programming</li>
              <li>Functional Programming</li>
              <li>MVC</li>
              <li>Flux</li>
              <li>Ajax</li>
              <li>TDD/BDD</li>
              <li>Performance Optimization</li>
              <li>SEO</li>
              <li>REST APIs</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="skill-description">
        <p>
          I love playing with bleeding edge technologies. The technologies I have used are not all mentioned here
          but I'm never afraid to get on new technology stacks and start hacking.
          <br/>
          <br/>
          My choice of stack usually includes React, Redux for the front-end. NodeJs, Express, RequireDB for the back-end.
          Mocha, Chai and Sinon for testing.
        </p>
      </div>
    </section>

    <section class="website">
      <h2>About this Website</h2>
      <p>
        This is a static website built with Gulp, Webpack, ES2015, SASS, Nunjucks &#9786;
      </p>
    </section>
  </div>
</div>
{% endblock %}

