.Skills-Section
  text-align: center
  background-image: url('../images/macbook-background.jpg')
  background-size: cover
  background-repeat: no-repeat

  .skill-type
    color: $text-color-light
    font-family: $font-header-thin
    font-size: 1.5em

  .section
    background-color: $black
    z-index: 10
    opacity: 0.75
    color: $white


.Skills-Badge-Section
  .sprite
    display: inline-block
    fill: currentColor
    margin: 1em
    width: 10em