<section class="About-Section" id="about">
  <div class="section">
    <div class="container">
      <div class="content-container narrow">
        <h1>ABOUT ME</h1>
        <p>
          Hi there! My name is Jordan, and I'm a Full-Stack Developer with technological and business experience in building startups.
          I build responsive applications from simple static websites to more sophisticated web apps.
          I emphasize on rapid development and product iteration, while providing maintainable, modular and tested code.
        </p>

        <p>
          Over the couple of years, I've worked with iFlix as a software developer and several other startups as an Entrepreneur in Residence.
          When I'm not coding, you'll find me quietly reading or annoying my neighbours on the drum set.
        </p>
      </div>
      <img class="img-circle" src="https://s3-ap-southeast-1.amazonaws.com/jordanyong-images/profile-small.png" alt="profile-pic">
      {% include "components/social-icons-svg.html" %}
    </div>
  </div>
</section>