<section class="Skills-Section">
  <div class="parallax-window">
    <div class="section">
      <div class="container">
        <div class="content-container narrow">
          <h2>Skills</h2>
          <div class="skill-description">
            <p>
              I love playing with bleeding edge technologies. The technologies I have used are not all mentioned here
              but I'm never afraid to get on new technology stacks and start hacking.
              <br/>
              <br/>
              The languages, technologies and techniques I use vary widely depending on situations with Javascript and NodeJs being my comfort zone.
              My choice of stack usually includes React, Redux for the front-end. NodeJs, Express, RequireDB for the back-end.
              Mocha, Chai and Sinon for testing.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>