
<p class="contact-icons">

  
  <span class="contact">
      <a href="mailto:jordanyong@gmail.com" target="_blank">
        
  
  <span class='sprite -mail '>
    <svg viewBox="0 0 1 1"><use xlink:href='images/sprites-4f253fc7a8.svg#mail' /></use></svg>
  </span>

        <span class="contact-title">jordanyong23@gmail.com</span>
      </a>
  </span>
  
  <span class="contact">
      <a href="https://linkedin.com/in/jordanyong" target="_blank">
        
  
  <span class='sprite -linkedin '>
    <svg viewBox="0 0 1 1"><use xlink:href='images/sprites-4f253fc7a8.svg#linkedin' /></use></svg>
  </span>

        <span class="contact-title">Linkedin</span>
      </a>
  </span>
  
  <span class="contact">
      <a href="skype:jyong23?userinfo" target="_blank">
        
  
  <span class='sprite -skype-circle '>
    <svg viewBox="0 0 1 1"><use xlink:href='images/sprites-4f253fc7a8.svg#skype-circle' /></use></svg>
  </span>

        <span class="contact-title">jyong23</span>
      </a>
  </span>
  
</p>
