<section class="Skills-Section" id="skills">
  <div class="skills-image parallax">
    <div class="parallax-window">
      <div class="overlay">
        <div class="section">
          <div class="container">
            <div class="content-container narrow">
              <h1>Skills</h1>
              <div class="skill-description">
                <p>
                  I've used a variety of tools, programming techniques and technologies which are not all mentioned here.
                  With that I'm comfortable with adapting to teams that use different stacks and programming techniques
                  and always willing to get on new technology stacks or languages.
                  <br/>
                  <br/>
                  The languages, technologies and techniques I use vary widely depending on situations with Javascript and NodeJs being my comfort zone.
                  My preferred choice of technologies usually includes React, Redux for the front-end. NodeJs, Express, RequireDB for the back-end.
                  Mocha, Chai and Sinon for testing.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="skills-logo">
    <div class="section">
      <div class="container">
        
<p class="skills-icon">

  
  <a href="">
    
  
  <span class='sprite -html5-logo '>
    <svg viewBox="0 0 1 1"><use xlink:href='images/sprites-4f253fc7a8.svg#html5-logo' /></use></svg>
  </span>

  </a>
  
  <a href="">
    
  
  <span class='sprite -css3-logo '>
    <svg viewBox="0 0 1 1"><use xlink:href='images/sprites-4f253fc7a8.svg#css3-logo' /></use></svg>
  </span>

  </a>
  
  <a href="">
    
  
  <span class='sprite -javascript-logo '>
    <svg viewBox="0 0 1 1"><use xlink:href='images/sprites-4f253fc7a8.svg#javascript-logo' /></use></svg>
  </span>

  </a>
  
  <a href="">
    
  
  <span class='sprite -node-logo '>
    <svg viewBox="0 0 1 1"><use xlink:href='images/sprites-4f253fc7a8.svg#node-logo' /></use></svg>
  </span>

  </a>
  
  <a href="">
    
  
  <span class='sprite -babel-logo '>
    <svg viewBox="0 0 1 1"><use xlink:href='images/sprites-4f253fc7a8.svg#babel-logo' /></use></svg>
  </span>

  </a>
  
  <a href="">
    
  
  <span class='sprite -react-logo '>
    <svg viewBox="0 0 1 1"><use xlink:href='images/sprites-4f253fc7a8.svg#react-logo' /></use></svg>
  </span>

  </a>
  
  <a href="">
    
  
  <span class='sprite -riot-logo '>
    <svg viewBox="0 0 1 1"><use xlink:href='images/sprites-4f253fc7a8.svg#riot-logo' /></use></svg>
  </span>

  </a>
  
  <a href="">
    
  
  <span class='sprite -meteor-logo '>
    <svg viewBox="0 0 1 1"><use xlink:href='images/sprites-4f253fc7a8.svg#meteor-logo' /></use></svg>
  </span>

  </a>
  
  <a href="">
    
  
  <span class='sprite -jquery-logo '>
    <svg viewBox="0 0 1 1"><use xlink:href='images/sprites-4f253fc7a8.svg#jquery-logo' /></use></svg>
  </span>

  </a>
  
  <a href="">
    
  
  <span class='sprite -sass-logo '>
    <svg viewBox="0 0 1 1"><use xlink:href='images/sprites-4f253fc7a8.svg#sass-logo' /></use></svg>
  </span>

  </a>
  
  <a href="">
    
  
  <span class='sprite -git-logo '>
    <svg viewBox="0 0 1 1"><use xlink:href='images/sprites-4f253fc7a8.svg#git-logo' /></use></svg>
  </span>

  </a>
  
  <a href="">
    
  
  <span class='sprite -github '>
    <svg viewBox="0 0 1 1"><use xlink:href='images/sprites-4f253fc7a8.svg#github' /></use></svg>
  </span>

  </a>
  
  <a href="">
    
  
  <span class='sprite -grunt-logo '>
    <svg viewBox="0 0 1 1"><use xlink:href='images/sprites-4f253fc7a8.svg#grunt-logo' /></use></svg>
  </span>

  </a>
  
  <a href="">
    
  
  <span class='sprite -gulp-logo '>
    <svg viewBox="0 0 1 1"><use xlink:href='images/sprites-4f253fc7a8.svg#gulp-logo' /></use></svg>
  </span>

  </a>
  
  <a href="">
    
  
  <span class='sprite -webpack-logo '>
    <svg viewBox="0 0 1 1"><use xlink:href='images/sprites-4f253fc7a8.svg#webpack-logo' /></use></svg>
  </span>

  </a>
  
  <a href="">
    
  
  <span class='sprite -express-logo '>
    <svg viewBox="0 0 1 1"><use xlink:href='images/sprites-4f253fc7a8.svg#express-logo' /></use></svg>
  </span>

  </a>
  
  <a href="">
    
  
  <span class='sprite -mongodb-logo '>
    <svg viewBox="0 0 1 1"><use xlink:href='images/sprites-4f253fc7a8.svg#mongodb-logo' /></use></svg>
  </span>

  </a>
  
  <a href="">
    
  
  <span class='sprite -rethinkdb-logo '>
    <svg viewBox="0 0 1 1"><use xlink:href='images/sprites-4f253fc7a8.svg#rethinkdb-logo' /></use></svg>
  </span>

  </a>
  
  <a href="">
    
  
  <span class='sprite -couchbase-logo '>
    <svg viewBox="0 0 1 1"><use xlink:href='images/sprites-4f253fc7a8.svg#couchbase-logo' /></use></svg>
  </span>

  </a>
  
  <a href="">
    
  
  <span class='sprite -aws-logo '>
    <svg viewBox="0 0 1 1"><use xlink:href='images/sprites-4f253fc7a8.svg#aws-logo' /></use></svg>
  </span>

  </a>
  
</p>

      </div>
    </div>
  </div>
</section>