<p class="social-icons">
  
    <a class="icon -linkedin" href="https://linkedin.com/in/jordanyong">
      <span class="screenreader">Linkedin</span>
    </a>
  
    <a class="icon -github" href="https://github.com/obrin">
      <span class="screenreader">Github</span>
    </a>
  
    <a class="icon -resume" href="https://docs.google.com/document/d/1fuREYfQNyE-O8vTxh6KQlPDWVFBuC-Bm6AJgn2QM22U/edit?usp=sharing">
      <span class="screenreader">Resume</span>
    </a>
  
    <a class="icon -mail" href="mailto:jordanyong@gmail.com">
      <span class="screenreader">Email</span>
    </a>
  
    <a class="icon -twitter" href="https://twitter.com/jordanyong23">
      <span class="screenreader">Twitter</span>
    </a>
  
    <a class="icon -facebook" href="https://www.facebook.com/jordanyong23">
      <span class="screenreader">Facebook</span>
    </a>
  
    <a class="icon -instagram" href="https://instagram.com/jordanyong">
      <span class="screenreader">Instagram</span>
    </a>
  
</p>
