/******* Typography ***************************************************/
$text-font-stack: 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace

$font-header-thin: Lato-Thin, Arial, sans-serif
$font-header: Lato-Regular, Arial, sans-serif
$font-main: Proxima-Nova-Regular, Arial, sans-serif


/******* Colors ***************************************************/
$light-grey: lightgrey
$dark-grey: #555
$red: #e53339

$vigetNavy: #092f40
$vigetOrange: #f26d21
$vigetBlue: #1496bb

$facebookBlue: #3b5998
$twitterBlue: #4099ff

$text-color: #474747
$text-color-light: #757575
$brand-color: #087B98
$light-brand-color: #3C93A9
$light-grey: #EDEDED
$theme-color: #2098d1
$theme-dark-color: #013A55
$mid-grey: #999
$dark-grey: #444



$max-width: 968px
$header-height: 70px

